extends ../layout

block content
  h2 A침adir canciones a: #{playlist.name}
  
  if error
    .error= error
  
  form(action=`/playlists/${playlist.playlist_id}/add-song` method="POST")
    div
      label(for="songId") Selecciona una canci칩n:
      select(name="songId")
        each song in songs
          if !currentSongIds.includes(song.song_id)
            option(value=song.song_id)= `${song.name} - ${song.artist}`
    
    button(type="submit") A침adir canci칩n
    a(href=`/playlists/${playlist.playlist_id}`) Cancelar